.left-content
  .left-content__bar
    %ul
      %li.mypage-side
        = link_to "マイページ", "#", class: "left-content-list-item"
        %br/
        = fa_icon "chevron-right", class: "icon-one"
      %li
        = link_to "お知らせ", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "やることリスト", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "いいね!一覧", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "出品する", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "出品した商品-出品中", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "出品した商品-取引中", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "出品した商品-売却済み", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "購入した商品-取引中", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "購入した商品-過去の取引", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "ニュース一覧", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "評価一覧", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "ガイド", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "お問い合わせ", class: "left-content-list"
        = fa_icon "chevron-right"
  .left-content__bar
    %h4 メルペイ
    %ul.marginT-8px
      %li
        = link_to "残高・振込申請", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "ポイント", class: "left-content-list"
        = fa_icon "chevron-right"
  .left-content__bar
    %h4 設定
    %ul.marginT-8px
      %li
        = link_to "プロフィール", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "発送元・お届け先住所変更", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "支払い方法", "#", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "メール/パスワード", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "本人情報", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "電話番号の確認", class: "left-content-list"
        = fa_icon "chevron-right"
      %li
        = link_to "ログアウト", "./destroy",  class: "left-content-list"
        = fa_icon "chevron-right"        