= render 'shared/header'
- breadcrumb :destroy
= render "shared/breadcrumb"
.main-content
  .my-maine
    = render 'mypages/sidebar'
    .logout-content
      .logout-btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete 
    
= render 'shared/sell-btn'
= render 'shared/footer'
