= render 'shared/header'
- breadcrumb :destroy
= render "shared/breadcrumb"
.logout-content
  %section.my-maine
    = render 'mypages/sidebar'
    .my-maine-box
      .my-maine-box-box ログアウト
    
= render 'shared/sell-btn'
= render 'shared/footer'
