.category-wrapper
  .category-all
    .category-type
      .category-type__title
        %h3 新着アイテム
        = link_to searches_path do
          もっと見る >
      %ul.category-type__contents
        - @items.each do |item|
          = link_to item_path(item.id) do
            %li.category-type__contents__item
              - if item.status == 1 
                .sold 
                .sold-c SOLD
              .category-type__contents__item__image
                - images = item.images
                - image = images[0]
                = image_tag "#{image}"
              .category-type__contents__item__name
                = item.name
              .category-type__contents__item__price
                = "¥#{item.price.to_s(:delimited)}"