= render 'items/header'
= render 'items/sell-btn'
.top-page-main
  .top-image
    %ul.slider
      %li
        = image_tag("https://d1f5hsy4d47upe.cloudfront.net/1a/1a7286263fc848b1f831c4ee862c8f30_t.jpeg",height:"400px", width:"100%")
      %li
        = image_tag("https://d1f5hsy4d47upe.cloudfront.net/af/afb997b92517d8aac17875e676d59cd3_w.jpg", height:"400px", width:"100%")
    %div{id: "arrows"}
      .slick-next
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png")
      .slick-prev
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png")
  .pickup-container
    .pickup-header
      %h2.pickup-header__name
        人気のカテゴリ
      .pickup-header__junre
        %ul
          %li
            レディース
          %li
            メンズ
          %li
            家電・スマホ・カメラ
          %li
            おもちゃ・ホビー・グッズ
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              レディース新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              メンズ新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              家電・スマホ・カメラ新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              おもちゃ・ホビー・グッズ新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
      -# ブランド
    .pickup-header
      %h2.pickup-header__name
        人気のブランド
      .pickup-header__junre
        %ul
          %li
            シャネル
          %li
            ルイヴィトン
          %li
            シュプリーム
          %li
            ナイキ
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              シャネル新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              ルイヴィトン新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              シュプリーム新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
    .pickup-contents
      .pickup-content__price-box
        .pickup-contents-box
          .pickup-contents__header
            .pickup-contents__header-name
              ナイキ新着アイテム
            .pickup-contents__header-more
              = link_to "もっと見る ＞", "#"
          .pickup-contents__image
            = render 'items/product'
= render 'items/footer'