= render 'items/header'
= render 'items/sell-btn'
.top-page-main
  .top-image
    %ul.slider
      %li
        = image_tag("https://d1f5hsy4d47upe.cloudfront.net/1a/1a7286263fc848b1f831c4ee862c8f30_t.jpeg",height:"400px", width:"100%")
      %li
        = image_tag("https://d1f5hsy4d47upe.cloudfront.net/af/afb997b92517d8aac17875e676d59cd3_w.jpg", height:"400px", width:"100%")
    %div{id: "arrows"}
      .slick-next
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png")
      .slick-prev
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png")
  .top__header__area
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のカテゴリー
    %ul.top__header__area__popularity__category
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
  %section.new__items
    .new__items-genre
      %h3
        レディース新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  %section.new__items
    .new__items-genre
      %h3
        メンズ新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  %section.new__items
    .new__items-genre
      %h3
        家電・スマホ・カメラ新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  %section.new__items
    .new__items-genre
      %h3
        おもちゃ・ホビー・グッズ新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  .top__header__area
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のブランド
    %ul.top__header__area__popularity__category
      %li シャネル
      %li ルイヴィトン
      %li シュプリーム
      %li ナイキ
  %section.new__items
    .new__items-genre
      %h3
        シャネル新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  %section.new__items
    .new__items-genre
      %h3
        ルイヴィトン新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  %section.new__items
    .new__items-genre
      %h3
        シュプリーム新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'

  %section.new__items
    .new__items-genre
      %h3
        ナイキ新着アイテム
      %a
        %span.new__items-more もっと見る
        = fa_icon 'angle-right'
  = render 'items/product'
= render 'items/footer'