= render 'shared/header'
= render 'shared/sell-btn'
.top-page-main
  .top-image
    %ul.slider
      %li
        = image_tag("https://www.pakutaso.com/shared/img/thumb/RED1211034_TP_V.jpg",height:"400px", width:"100%")
      %li
        = image_tag("https://www.pakutaso.com/shared/img/thumb/20140721-P7210083de_TP_V.jpg", height:"400px", width:"100%")
      %li
        = image_tag("https://www.pakutaso.com/shared/img/thumb/gftdrsedrftgy_TP_V.jpg", height:"400px", width:"100%")
    %div{id: "arrows"}
      .slick-next
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png")
      .slick-prev
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png")
  
  .category-title
    %h2 商品一覧
  = render 'items/product'
= render 'shared/footer'