%body
  = render 'items/sub-header'

  .main-box
    .main-box__head 商品の情報を入力
    = form_with local: true do |f|
      .main-box__image
        %h3 
          出品情報 
          %span.hissu 必須
        %p 最大10枚までアップロードできます
        = f.fields_for :images do |image|
          .image-area
            .image-area__preview
              .image-area__preview__list
                %ul
                  %li.preview-image
                    .figure

                    .article
                      %button.removePreviewBtn{type: 'button'}
                        削除
                      %button.edit-link{type: 'button'}
                        編集
            = image.label :image do
              .image-area__input
                %pre
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード
                = image.file_field :image, class: 'image-area__input--hidden fileField'
      .main-box__name
        .main-box__syouhinmei
          = f.label :name do
            商品名
            %span.hissu 必須
          %div
            = f.text_field :name,{class: 'input-text', placeholder: "商品名（必須40字まで）"}
        .main-box__syouhinsetumei
          = f.label :description do
            商品の説明 
            %span.hissu 必須
          = f.text_area :description, {class: 'textarea', rouws:5 , placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
      .main-box__show.clear-fix
        %h3.h3sub 商品の詳細
        .main-box__showbox
          .main-box__kategori
            = f.label :category do
              カテゴリー 
              %span.hissu 必須
            %div
              .select-box.parent
                %select.select-default
                  -# 仮置き
                  %option{value: ""} ---
                  %option{value: "1"} レディース
                  %option{value: "2"} メンズ
                  %option{value: "3"} ベビー・キッズ
                  %option{value: "4"} インテリア・住まい・小物
                  %option{value: "5"} 本・音楽・ゲーム
                  %option{value: "6"} おもちゃ・ホビー・グッズ
                  %option{value: "7"} コスメ・香水・美容
                  %option{value: "8"} 家電・スマホ・カメラ
                  %option{value: "9"} スポーツ・レジャー
                  %option{value: "10"} ハンドメイド
                  %option{value: "11"} チケット
                  %option{value: "12"} 自動車・オートバイ
                  %option{value: "13"} その他
          .main-box__zyoutai
            = f.label :item_status do
              商品の状態
              %span.hissu 必須
            %div
              .select-box
                %select.select-default
                  -# 仮置き
                  %option{value: ""} ---
                  %option{value: "1"} 新品・未使用
                  %option{value: "2"} 未使用に近い
                  %option{value: "3"} 目立った傷や汚れなし
                  %option{value: "4"} やや傷や汚れあり
                  %option{value: "5"} 本・音楽・ゲーム
                  %option{value: "6"} 傷や汚れあり
                  %option{value: "7"} 全体的に状態が悪い
      .main-box__haisou.clear-fix
        %h3.h3sub 
          配送について
        = link_to "?", 'https://www.mercari.com/jp/help_center/article/68/', class:"round-icon"
        .sell-form-box
          .form-group
            = f.label :delivery_fee do
              配送料の負担
              %span.hissu 必須
            %div
              .select-box
                %select.select-default
                  -# 仮置き
                  %option{value: ""} ---
                  %option{value: "1"} 送料込み(出品者負担)
                  %option{value: "2"} 着払い(購入者負担)
          .form-group
            = f.label :prefecture do
              発送元の地域
              %span.hissu必須
            %div
              .select-box
                %select.select-default
                  -# 仮置き
                  %option{value: ""} ---
                  %option{value: "1"} 東京都
          .form-group
            = f.label :delivery_status do
              発送までの日数
              %span.hissu必須
            %div
              .select-box
                %select.select-default
                  -# 仮置き
                  %option{value: ""} ---
                  %option{value: "1"} 1~2日で発送
                  %option{value: "2"} 2~3日で発送
                  %option{value: "3"} 4~7日で発送
      .main-box__price
        %h3.h3sub
          販売価格(300〜9,999,999)
        = link_to "?", 'https://www.mercari.com/jp/help_center/article/64/', class:"round-icon" 
        .main-box__price__form
          %ul
            %li.first-list
              .left
                = f.label :price do
                  価格
                  %span.hissu 必須
              .right
                %div
                  %p ¥
                  = f.text_field :price,{placeholder: '例）300円', class: 'price-input'}
            %li.clear-fix.fee-area
              .p-left 
                販売手数料(10%)
              .p-right
                %p.fee-area__tax-rate -
            %li.clear-fix.profit-area
              .p-left 
                %p 販売利益
              .p-right 
                %p.profit-area__text -
      .main-box__foot
        .main-box__foot__text
          %p
            = link_to "" do
              禁止されている出品
            、
            = link_to "" do
              行為
            を必ずご確認ください。
          %p  
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to '' do
              偽ブランドの販売
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to '' do
              加盟店規約
            に同意したことになります。
        %button{type: 'submit', class: 'submitBtn'}
          出品する

        = link_to root_path do
          %button{type: 'button'}
            もどる
  = render 'items/sub-footer'
